<p>about-me works!</p>
<div class="section">
    <div class="container tim-container">
        <div class="tim-title">
            <h2 class="title">About Me</h2>
            <br/>
        </div>
        <div id="typography">
            <div class="row">
                <div class="typography-line">
                    <h3>My name is JeongWon Her. I have the following qualities:</h3>
                </div>
                <div class="typography-line">
                    <p>
Languages: Python, Java, TypeScript, C#, C++
<br />
Technologies: Pytorch, ONNX, Deepstream, Spark, Alembic, Angular, React, .NET
<br />
* DevOps: CI/CD(github workflow), Docker(Harbor), Kubernetes(On premise)
* Culture: Linux, Open Source, MSA
* Methodology: Agile

# Experience
>MLOps engineer  
>March 2021 - Current  
>Seoul, Korea
    
ML system integration, Orchestrate the steps in ML, Automation
1. Project setup
2. Data pipeline ([kubeflow](https://jwher.github.io/categories#kubeflow)...)  
3. Modeling & training ([ml](https://jwher.github.io/categories#ml)...)  
4. Serving ([nuclio](https://jwher.github.io/categories#nuclio)...)  

Technologies: Python, Docker, React, Typescript  

<br/>

>Java Backend Developer  
>2 months (January 2020 - February 2020)  
>Hivvlab  
>Seoul, Korea

Winter internship  
1. Researching top blockchain trends
2. Find a specific transaction in distributed ledger
3. Process transaction data and insertion

Technologies: Java, Node.js  
Culture: Spring-svn

# Education
>Dongguk University  
>4 years (March 2015 - February 2021)  
>Seoul, Korea

I've learned Computer Science and Engineering  
Military service from Feb. 2016 until Nov. 2017

What else do you need?

hacell2@gamil.com
                    </p>
                </div>
                <div class="typography-line">
                    <span class="note">Quote</span>
                    <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<div class="section" id="carousel">
    <div class="container">
        <div class="tim-title">
            <h3>My story</h3>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <!-- <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                            <div class="carousel-caption">
                                <p>Somewhere</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                                <p>Somewhere else</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <p>Here it is</p>
                            </div>
                        </ng-template>
                    </ngb-carousel> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {% include button.html text="Buy me a coffee ☕️" link="https://buymeacoffee.com/jwher" color="#f68140" %} -->