.search-box{
    width: fit-content;
    height: fit-content;
    //position: relative;
}
.input-search{
    box-sizing: border-box;
    height: 3rem;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: $accentColour;
}
.input-search::placeholder{
    color: $captionColour;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search{
    width: 3.5rem;
    height: 3.5rem;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    //cursor: pointer;
    border-radius: 50%;
    //position: absolute;
    //right: 0px;
    color: $accentColour;
    background-color: transparent;
    pointer-events: painted;
    float: right;
}
// .btn-search:focus ~ .input-search,
// .search-results:focus ~ .input-search,
// .search-results li:focus ~ .input-search,
// .input-search:focus{
//     width: 24rem;
//     border-radius: 0px;
//     background-color: transparent;
//     border-bottom:1px solid $captionColour;
//     transition: all .5s ease-in-out;
// }
.input-search-on{
    width: 24rem;
    border-radius: 0px;
    background-color: transparent;
    /*border-bottom:1px solid $captionColour;*/
    transition: all .5s ease-in-out;
}

.search-results{
    position: absolute;
    background-color: transparent;
    display: none;
    list-style: none;
}
.search-results li{
    //height: 3rem;
    //overflow: hidden;
    text-overflow: ellipsis;
    //border-bottom:1px solid $captionColour;
}
// .btn-search:focus ~ .search-results,
// .input-search:focus ~ .search-results,
// .search-results:focus ~ .search-results,
// .search-results:focus{
//     width: 24rem;
//     border-radius: 0px;
//     background-color: $backgroundColour;
//     display: block;
//     border-bottom:1px solid $captionColour;
//     transition: all .5s ease-in-out;
// }
.search-results-on{
    width: 24rem;
    border-radius: 0px;
    background-color: $backgroundColour;
    display: block;
    /*border-bottom:1px solid $captionColour;*/
    transition: all .5s ease-in-out;
    opacity: 70%;
}

.img-link{
    float: right;
    height: 15vh;
    padding: 10px;
    filter: grayscale(20%);
}
.img-link:hover{
    filter: grayscale(0%);
    /* 트랜지션? */
}