<div class="wrapper">
    <div class="page-header" style="background-image: url('assets/img/common/bamboo-road.jpg');">
        <div class="filter"></div>
        <div class="content-center">
            <div class="title-brand">
                <!-- <div class="angular-logo">
                    <img src="assets/img/angular2-logo.png" alt="">
                </div> -->
                <h1 class="presentation-title">JWHer Tech Blog</h1>
            </div>
            <h2 class="presentation-subtitle" style="text-align: center;">
                허정원 기술블로그
            </h2>
            <h6 class="presentation-copyright">
                Copyright © 2022, JeongWon Her and/or its subsidiaries or affiliates.
            </h6>
            <div class="moving-clouds" style="background-image: url('assets/img/home/clouds.png'); "></div>
        </div>
    </div>
    <app-about-me></app-about-me>
</div>
