.presentation__title {
    font-size: 4em;
    font-weight: bold;
    color: var(--header-text-color);
    text-align: center;
    // mix-blend-mode: hard-light;
    z-index: 2;
}
@media only screen and (max-width:767px) {
    .presentation__title {
        padding-top: 1em;
        font-size: 3em;
    }
}

.presentation__subtitle {
    font-size: 1em;
    font-weight: bold;
    color: var(--header-text-color);
    text-align: center;
    // mix-blend-mode: hard-light;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    z-index: 2;
}