/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 :root{
   --header-text-color: #e3e3e3;
   --header-text-dark-color: #9A9A9A;
 }

 .title__header {
  background: url('/static/img/bamboo-road.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  .filter::after {
    background-color: rgba(0, 0, 0, .5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}
.title__center {
  z-index: 1;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  display: block;
}
.title__brand {
  max-width: 730px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: inherit;
  display: block;
  z-index: 2;
  &:hover {
    filter: brightness(1.2);
  }
}
.title__presentation__title {
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  padding: 15px;
  color: var(--header-text-color);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
@media only screen and (max-width: 767px){
  .title__presentation__title {
    font-size: 4em;
  }
}
.title__presentation__subtitle {
  font-size: 1.7em;
  color: var(--header-text-color);
  text-align: center;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* font-family: $font-family-sans-serif; */
  font-weight: 300;
}
.title__presentation__copyright {
  font-size: 1em;
  color: var(--header-text-dark-color);
  text-align: center;
}
.title__moving__clouds{
  background-image: url('/static/img/clouds.png');
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}
@keyframes cloudLoop{
  0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
  100%{-webkit-transform:translate3d(-50%,0,0);
  transform:translate3d(-50%,0,0)}
}

.arrowup{
  text-align: center;
  font-size: 4em;
  font-weight: 400;
  cursor: pointer;
  z-index: 1;
  animation: arrowLoop 0.5s ease-in-out infinite alternate;
}
@keyframes arrowLoop{
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.rainbow{
  background-image: url('/static/img/about-me/sea-cave.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin-top:0;
  height: calc(100vh - 120px);

  &__title, &__text {
    position: absolute;
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;

    font-size: 3rem;
    font-weight: bold;
    color: #E3E3E3;
    mix-blend-mode: hard-light;
  }
  &__title {
    transition: transform 1s ease-in-out, color 1s ease-in-out;
  }
  &__text {
    opacity: 0;
    font-size: 2rem;
    font-weight: normal;
    transition: opacity 1s ease-in-out, color 1s ease-in-out;
  }

  &:hover &__title{
    transform: translateY(-30%);
    color: #FFF;
  }
  &:hover &__text{
    opacity: 1;
    color: #FFF;
  }
}
@media (max-width: 810px) {
  .rainbow__title, .rainbow__text {
    font-size: 3.5vh;
  }
}
