<ul class="links">
    <li>
        <a href="https://github.com/jwher"
            rel="tooltip"
            title="Follow me on Github"
            data-placement="bottom"
            target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/jwher96"
            rel="tooltip"
            title="Follow me on Instagram"
            data-placement="bottom"
            target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/정원-허-1160b3193/"
            rel="tooltip"
            title="Follow me on Linkedin"
            data-placement="bottom"
            target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
    </li>
</ul>