// Presentation section styles
.presentation__title {
  position: relative;
  z-index: 2;
  font-size: 4em;
  font-weight: bold;
  color: var(--header-text-color);
  text-align: center;

  @media (max-width: $bp-mobile) {
    padding-top: 1em;
    font-size: 3em;
  }
}

.presentation__subtitle {
  position: relative;
  z-index: 2;
  font-size: 1em;
  font-weight: bold;
  color: var(--header-text-color);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
